.homepage{
    display: flex;
    flex-direction: column;  
    margin-top:-100px;
}
.showcase-area {
    height: 50vh;
    background: linear-gradient(
        rgba(240, 240, 240, 0.144),
        rgba(255, 255, 255, 0.336),
        rgba(0,0,0,0.75)
      ),
      url("../img/h7.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 1.4rem;
}  

