.Menu{
    margin-bottom:50px;
}
.menuS{
    font-size: 50px;
    font-family:'Edwardian Script ITC';
    overflow:hidden;
    text-align:center;
}
.menuS:before,.menuS:after{
    background-color: black;
    content:"";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 40%;
}
.menuS:before{
    right: 0.5em;
    margin-left: -50%;
}
.menuS:after{
    left: 0.5em;
    margin-right: -50%;
}
/* h2{
    font-size:35px;
    padding-top: 50px;
    font-family: 'Edwardian Script ITC';
    text-align: center;
} */
.menuimg{
    margin-right: 40px;
    width: 130px;
    height: 100px;
    border-radius: 40%;
    border: 5px solid rgba(54, 55, 58,0.4);
    float:left;
}

.blk{
    border-radius: 7px;
    display:flex;
    margin:auto;
    padding-inline: 25px;
    word-spacing: 50px;
    font-size: large;
    background-color: rgba(54, 55, 58,0.4);
    backdrop-filter: blur(6px);
    width:max-content;
}
.links{
    padding: 10px;
    margin: 5px;
    color: black;
}
.act, .links:hover {
    background-color: #16a083;
    color: white;
    border-radius: 30px;
  }
.sep:not(#bt){
    display:none;
}
.menuf{
    padding-left: 75px;
    font-size: 20px;
    padding-block: 50px;
}
.menuf h3{
    padding:0;
    margin:0;
}
.menutxt{
    font-size: 14px;
    line-height: 25px;
}

.Menubtn{
    margin-top: -4px;
    color: white;
    width: 70px;
    background-color:#16a083;
}

.Menubtn:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
    cursor: pointer;
}
.orderS{
    display: flex;
    align-self: center;

}
.orderP{
    font-size: 14px;
    margin:0;
    padding: 0;
}
.orderI{
    height: 20px;
    width: 40px;
    margin-left: 3px;
    border: none;
    outline: none;
    color: whitesmoke;
    color: black;
    border-radius: 5px;
}

.YMenu {
    margin-top: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.YMe{

    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid black;
    width: 500px;
}

.YMe p{
    color: black;
    margin: 10px;
    
}
.YMeI{
    height: 20px;
    width: 100px;
    border:none;
    outline: none;
    background-color:white;
    margin-right: 10px;
}
.YMeB{
    color: white;
    width: 70px;
    background-color:#16a083;
    cursor: pointer;
}
.YMeB:hover {
    background: #117964;
    transition: background 0.3s ease-in-out;
  }
  
.YourT>h3{
    margin: 0;
    padding: 0;
}

.Tinfo{
    display: flex;
    border:1px solid black;
}
.TValue{
    display: flex;
    align-items: center;
    margin:5px;
}
.TBtn{
    margin-top: -1px;
    background: #16a083 ;
    color: white;
    width: 100px;
    height: 55px;
    cursor: pointer;
}
  
.TBtn:hover {
  background: #117964;
  transition: background 0.3s ease-in-out;
}

input[type="file"]{
    width: 175px;
}