.normal{
    display: flex;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../img/background2.jpg);
    background-size: cover;
    background-position: center;
    color:wheat;
}

.left{
    /* border:4px solid blue; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tit{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:70%;
    /* border: 4px solid red; */
}
.tit p{
    margin: 0;
    padding: 0;
}
.tit h2{
    font-family: 'Playfair Display', serif;
}
.right{
    /* border:4px solid red; */
    width: 40%;
}

.Fouter{
    background-color:rgb(52,44,36);
    padding: 10px;
    margin-top: -5px;
}
.inp{
    margin: 8px;
    display: flex;

}
.intBtn{
    margin: 8px;
    display: flex;
    align-items: center;
}
.intBtn > .intB{
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;
    height: 40px;
    background-color: rgb(223,174,103);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
}
.bod{
    border:2px solid orange;
    width: 410px;
}
.bod > p{
    margin-left: 7px;
}

.inputI{
    font-size: 18px;
    width: 170px;
    outline:none;
    border: none;
    height: 36px;
    margin: 8px;
    background-color:rgb(52,44,36);
    color:wheat;
}

input[type="file"] {
    color: transparent;
    background: none;
    z-index: 1;
  }

.updiv{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.upload{
    font-size:30px;
}
/* hide date icon */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
    cursor: pointer;
  }
  input[type="time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: none;
    z-index: 1;
    cursor: pointer;
  }
  
.icons{
    border:2px solid orange;
    margin-right: 30px;
    position: relative;
}
.TABNO{
    border:2px solid orange;
    width: 187px;
}
.TABNO2{
    border:2px solid orange;
    width: 187px;
    margin-left: 30px;
    cursor: pointer;
}
.icon{
    position:absolute;
    right: 10px;
    top: 19px;
    color:wheat;
    font-size: 18px;
}

.resPic{
    width: 100%;
    height: 250px;
}


.orderA{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 410px
}

.orderA > a{
    color: wheat;
    text-decoration: underline;
}

.linkT > a{
    margin-left: 60px;
    color: wheat;
}


select{
    font-size: 18px;
    width: 190px;
    outline:none;
    border: none;
    height: 45px;
    padding: 7px;
    margin: 8px;
    background-color:rgb(52,44,36);
    color:wheat;
    border:2px solid orange;
}

.tit > .medP{
    line-height: 30px;
    font-size: 2rem;
    margin-bottom: 7px;
}


@media screen and (max-width: 1120px) {
    .normal{
        flex-direction: column;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
    }
    .left > .tit{
        height: 300px;
    }
    .resPic{
        display:none;
    }
}
@media screen and (max-width: 944px) {
    .left > .tit{
        height: 300px;
    }
    .resPic{
        display:none;
    }
}
@media screen and (max-width: 440px) {
    .Fouter .inp{
        flex-direction: column;
    }

    .icons,.TABNO{
        margin-bottom:7px;
        width: 100%;
    }
    .bod{
        width: 100%;
        
    }
    .inp .btnB{
        width: 91%;
    }
    .TABNO2{
        width: 100%;
        margin-left: 0;
    }
    .resPic{
        display:none;
    }
}