.table{
    display: flex;
}

.room2{
    margin:0 30px;
}
/* .book{
    height: 400px;
    width: 400px;
    background-color:black;
} */
.imgRoom {
    position: relative;
}
.tabCha{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width:830px;
    height: 330px;
    margin-top: 200px;
    margin-left: 30px;
    
}
/* @media screen and (max-width: 462px) {
    .room2{
        margin:50px 5px;
    }
} */
@media screen and (max-width: 830px) {
    .imgRoom{
        width: 100%;
    }
    /* .tabCha{
        margin-top: 200px;
        margin-left: 11px;
    
    } */
}
@media screen and (max-width: 545px) {
    .room2{
        margin:15px 5px;
    }
    .tabCha{
        width:550px;
        height: 150px;
        margin-top: 95px;
        margin-left: 17px;
    }
}
@media screen and (max-width: 415px) {
    .room2{
        margin:0 9px;
    }
    .tabCha{
        width:440px;
        height: 150px;
        margin-top: 95px;
        margin-left: 7px;
        
    }
}
@media screen and (max-width: 395px) {
    .room2{
        margin:0 8px;
    }
    .tabCha{
        width:440px;
        height: 150px;
        margin-top: 95px;
        margin-left: 2px;
        
    }
}
@media screen and (max-width: 376px) {
    .room2{
        margin:0 5px;
    }
    .tabCha{
        width:400px;
        height: 150px;
        margin-top: 95px;
        margin-left: 7px;
        
    }
}
@media screen and (max-width: 365px) {
    .room2{
        margin:0 5px;
    }
    .tabCha{
        width:350px;
        height: 150px;
        margin-top: 85px;
        margin-left: 7px;
        
    }
}


